body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #202267;
}
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-brand img {
    max-height: 50px; /* Adjust the value as needed */
    width: auto;
    margin: auto; /* Center horizontally */
}


.navbar-toggler.custom-toggler  {
    border-color: rgba(255, 255, 255, 1) !important; /* Ensuring the border color is white */
  }

  .navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }
  .navbar .navbar-nav .nav-link, .navbar-contact  {
    color: white !important;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    transition: 0.4s ease; /* Corrected transition property */
}

.navbar .navbar-nav .nav-link:hover, .navbar-contact:hover {
    color: yellow !important;
}

.navbar .navbar-nav .nav-link::after, .navbar-contact::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(228, 250, 102); /* Change this to your desired underline color */
    transform-origin: bottom right;
    transition: width 0.5s ease-out;
}

.navbar .navbar-nav .nav-link:hover::after, .navbar-contact:hover::after {
    width: 100%;
    transform-origin: bottom left;
}

.jumbotron {
    background-color: #E8E4C9;
    margin-bottom: 0;
    padding: 2rem 1rem;
    height: auto;
    display: flex;
    align-items: center;
}

.header-logo {
    max-height: 1000px; /* Adjust as needed */
    width: auto;
}


@font-face {
    font-family: 'DK Longreach';
    src: url('fonts/DK Longreach.otf') format('truetype');
    /* Add additional src declarations for different font formats if needed */
}

.intro-text {
    color: black; /* Change to desired text color */
    text-align: left;
    padding: 20px;
    
}
.intro-text h4{
    font-size: 15px;
    margin-top: 10px;
}
.intro-text h2 {
    font-family: brush script mt, cursive;
    font-size: 50px;
    color: #202267;
}

.intro-text h1, h3 {
    font-size: 100px;
    font-family: 'DK Longreach', sans-serif;
    color: #d23c2b;
    margin-top: -30px;
}

.intro-text h3 {
    font-size: 60px;
    margin-top: -30px;
    margin-bottom: -15px;
}
.categories {
    padding: 2rem 0; /* Adjust padding as needed */
    width: 100%;
    display: flex;
    justify-content: center; /* Center align content horizontally */
    align-items: flex-start; /* Align items to the top */
}

.categories .section-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #202267;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: -10px; /* Remove default margin */
    margin-bottom: 2rem;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #d23c2b; /* Example: Add border */
    border-radius: 8px; /* Example: Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Example: Add shadow */
    padding: 1.5rem 1rem; /* Adjust padding as needed */
    transition: transform 0.3s ease;
}

.category-card:hover {
    transform: translateY(-5px); /* Example: Add hover effect */
}

.img-icon {
    max-width: 80px; /* Example: Adjust max-width for icon size */
    height: auto;
}

.category-card h5 {
    font-size: 15px;
    margin: 0; /* Remove default margin */
    color: #202267; /* Example: Set text color */
}

@media (max-width: 992px) {
    .category-card {
        flex-basis: 100%; /* Full width on smaller screens */
        max-width: 100%;
        margin-bottom: 1rem; /* Add space between cards on smaller screens */
    }
}
.hr-line {
    display: flex;
    justify-content: center;
    
}

.center-hr {
    width: 90%;
    border: 1px solid #000; /* Adjust the color and thickness as needed */
    margin-top: -50px;
}
.center-hr2 {
    width: 90%;
    border: 1px solid #000; /* Adjust the color and thickness as needed */
    margin-top: -100px;
}

.products {
    padding: 3rem 0; /* Adjust padding as needed */
    background-color: #f7f7f7; /* Example: Background color for products section */
}

.products .section-title {
    text-align: center;
    color: #202267;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: -120px;
}

.product-card {
    background-color: yellow transparent;
    width: 100%; /* Ensure full width */
    max-width: 300px; /* Example: Set maximum width for each product card */
    margin: 0 auto 2rem; /* Center align and add bottom margin */
    text-align: center;
    border: 1px solid #d23c2b; /* Example: Add border */
    border-radius: 8px; /* Example: Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Example: Add shadow */
    padding: 1.5rem 1rem; /* Adjust padding as needed */
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px); /* Example: Add hover effect */
}

.product-card img {
    max-width: 70%; /* Ensure image resizes properly */
    height: 200px;
    border-top-left-radius: 8px; /* Example: Rounded corners for top-left */
    border-top-right-radius: 8px; /* Example: Rounded corners for top-right */
}

.product-card .card-body {
    padding: 1rem;
}

@media (max-width: 768px) {
    .product-card {
        max-width: 100%; /* Adjust width on smaller screens */
    }
}
.container .aboutus-title{
    margin-top: -120px;
    color: #202267;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.about-us img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
}
.desc{
    border: 0.5px solid #d23c2b;
    width: 550px;
    height: 365px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
}
.desc p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-justify:auto ;
    margin: 15px;
}
.footer {
    background-color: #333;
    padding: 20px 0;
    color: #f7f7f7;
}

.footer-logo {
    max-width: 150px;
}

.social-icons a {
    font-size: 24px;
    color: #f8f9fa;
    position: relative;
    transition: 0.4s ease;
}

.social-icons a:hover {
    color: #d23c2b;
}

.useful-info a {
    display: block;
    color: #f8f9fa;
    margin: 5px 0;
    position: relative;
    transition: 0.4s ease;
}

.useful-info a:hover {
    color: #d23c2b;
}

.address a {
    color: #f8f9fa;
    text-decoration: none;
    position: relative;
    transition: 0.4s ease;
}

.address a:hover {
    color: #d23c2b;
}
.social-icons a::after, .useful-info a::after, .address a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(210, 60, 43); /* Change this to your desired underline color */
    transform-origin: bottom right;
    transition: width 0.5s ease-out;
}
.social-icons a:hover::after, .useful-info a:hover::after, .address a:hover::after{
    width: 100%;
    transform-origin: bottom left;
}
.footer p {
    margin: 0;
    color: #f8f9fa;
}
.footer .copyright{
    color: #f7f7f7;
    background-color: #d23c2b;
    width: 100%;
}




